body {
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: rgb(36, 31, 31);
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  padding: 10px;
}

h1 {
  text-align: center;
  color: #0dcaf0;
  font-weight: bold;
  font-size: 59px
}

h2 {
  text-align: center;
  color: #0dcaf0;
}

.ascii-art {
  white-space: pre;
  text-align: center;
}
